<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <style>
    /* Default Rules */
  </style>
  <style data-premailer="ignore">
    /* Media Query Rules */
  </style>
</head>
<body>
  \{{content}}
  <a class="ic-unsubscribe-link" href="#">{{unsubscribe_link}}</a>
</body>
</html>
